.genre-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;

  max-width: 950px;
  margin: 0px auto 50px auto;
}

.genre-card {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;


  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  cursor: pointer;

  overflow: hidden;
  transition: transform 0.2s ease;
}

.genre-card::before {
  content: "";
  position: absolute;
  inset: 0;
}

.genre-card span {
  position: relative;
  z-index: 1;
  color: orange;
  font-weight: bold;
  font-size: 16px;
}

.genre-card:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .genre-grid {
    grid-template-columns: 1fr;
    gap: 14px;
    width: calc(100% - 20px);
    margin-bottom: 35px;
  }

  .genre-card {
    aspect-ratio: 16 / 7;
  }
}