.menu-bar {
  width: fit-content;

  margin: 18px auto 35px auto;

  display: flex;
  align-items: center;
  gap: 12px;

  background: white;

  padding: 10px 14px;

  border-radius: 999px;

  box-shadow:
    0 6px 20px rgba(0,0,0,0.06);
}

.menu-item {
  border: none;
  background: transparent;

  padding: 10px 18px;

  border-radius: 999px;

  cursor: pointer;

  font-size: 14px;
  font-weight: 600;

  color: #555;

  transition: 0.25s;
}

.menu-item:hover {
  background-color: #ff7a18;
  color: white;
}